.custom-select {
  height: calc(2.5rem - 2px);
  margin-bottom: 1.563rem;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #f2f2f2;
  font-family: Roboto;
  font-size: 0.875rem;
  letter-spacing: 0.28px;
  &:focus {
    border-left: 2px solid #2a74db;
  }
}

.custom-select select {
  display: none;
}

.custom-select-phone {
  flex-basis: 80%;
}

.custom-select-flag {
  flex-basis: 20%;
  min-width: 70px;
  margin-right: 1rem;
}

.custom-select-stack {
  height: auto;
  min-height: calc(2.5rem - 2px);
  background: #fcfcfc;
}

.custom-select-flag__input {
  width: 1.5rem;
  position: absolute;
  left: 30%;
}

.custom-select-flag__img {
  max-width: 100%;
}

.select-selected {
  background-color: #fcfcfc;
  border-bottom: none;
}

.select-selected:after {
  position: absolute;
  content: url(/img/summary.svg);
  right: 3%;
}

.select-items div,
.select-selected {
  padding: 0 0.8125em;
  line-height: 2.5rem;
  cursor: pointer;
  user-select: none;
  height: 2.5rem;
}

.select-items {
  width: 100%;
  position: absolute;
  background-color: #fcfcfc;
  top: 100%;
  left: -2px;
  right: 0;
  z-index: 99;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  border-top: none;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #f4f3f3;
}

.result-block,
.wrap-table-admin {
  min-height: 330px;
  ::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f7fa;
    border-radius: 50px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e0e6f0;
    border-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.calendar-icon {
  position: relative;
  z-index: 2;
  &::before {
    color: transparent;
    background: none;
    display: block;
    font-family: "FontAwesome";
    content: url(/img/date-calendar.svg);
    width: 1rem;
    position: absolute;
    top: 0rem;
    left: 0.875rem;
    color: #999;
  }
}

.vue-select {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.563rem;
  font-family: Roboto;
  font-size: 0.875rem;
  letter-spacing: 0.28px;
  box-sizing: border-box;
  outline: 0;
  background: #fcfcfc;
  border-radius: 4px;
  &:focus {
    outline: none;
    border-left: 2px solid #2a74db !important;
  }
}

.custom-select-flag .vue-select-header {
  padding-right: 0rem;
}

.vue-select-header {
  min-height: calc(2.5rem - 2px);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fcfcfc;
}

.vue-input,
.vue-tag.selected {
  display: flex;
  align-items: center;
  border-radius: 4px;
  max-width: 100%;
}
.vue-input > input {
  padding: 0.4875em 0.8125em;
  height: calc(2.5rem - 2px);
  font-size: 0.875rem;
  background: #fcfcfc;
  max-width: 100%;
}

.phone-block .vue-input > input {
  opacity: 0;
}

.vue-select-header > .icon.arrow-downward,
.vue-select-header > .icon.loading,
.vue-tag > span {
  margin-right: 4px;
}
.icon.loading {
  display: inline-block;
  position: relative;
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
}
.vue-select-header > .icon.arrow-downward,
.vue-select-header > .icon.loading,
.vue-tag > span {
  margin-right: 4px;
}
.icon.arrow-downward {
  color: #999;
  border-style: solid;
  border-width: 4px 4px 0;
  border-color: #999 transparent transparent;
  content: "";
  transition: transform 0.2s linear;
  cursor: pointer;
}
.vue-dropdown {
  position: absolute;
  top: 93% !important;
  left: -4px;
  background-color: #fcfcfc;
  z-index: 9999;
  max-height: 300px;
  overflow-y: unset;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: solid 2px #f2f2f2;
  border-top: none;
  list-style-type: none;
  display: block;
}

.vue-dropdown,
.vue-input {
  width: calc(100% + 2px);
  box-sizing: content-box;
  max-height: 150px;
  overflow-y: auto;
}
.vue-dropdown-item {
  list-style-type: none;
  padding: 0.4875em 0.8125em;
  cursor: pointer;
  min-height: 1rem;
}

.vue-dropdown-item.highlighted {
  background-color: #669deb;
}

.vue-dropdown-item.selected {
  background-color: #f3f3f3;
}

.vue-dropdown-item.selected.highlighted {
  background-color: #ff6a6a;
}

.vue-dropdown[data-removable="false"] .vue-dropdown-item.selected:hover {
  cursor: not-allowed;
}

.vue-dropdown[data-addable="false"][data-multiple="true"]
  .vue-dropdown-item:not(.selected):hover {
  cursor: not-allowed;
}

.vue-select-header > .icon.arrow-downward,
.vue-select-header > .icon.loading,
.vue-tag > span {
  margin-right: 4px;
}

.icon.icon.arrow-downward.active {
  transform: rotate(180deg);
}

.vue-select[data-is-focusing="true"] .vue-select-header {
  border-bottom: none;
  box-shadow: 0 4px 2px -2px #fcfcfc;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.vue-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2px;
  min-height: calc(1rem + 4px);
  user-select: none;
}

.vue-tags.collapsed {
  flex-wrap: nowrap;
  overflow: auto;
}

.vue-tag {
  display: none;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 4px;
  background-color: #999;
  padding: 0 4px;
  margin: 2px;
  min-height: 1rem;
  font-size: 0.8rem;
}

.vue-tag span {
  margin-right: 4px;
}

.vue-tag.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  padding: 0 0.8rem;
  font-size: 0.875rem;
  img {
    max-width: 15px;
    cursor: pointer;
    opacity: 0.5;
  }
}

.vue-tags[data-removable="false"] .vue-tag.selected img:hover {
  cursor: not-allowed;
}
